*{
    border: solid red 1px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
} 
.top-style{
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.right-link {
   font-size: 10px;
}
.section1{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.section1-right{
    
}
.section1-left {
    font-size: 18px;

}
.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.section1-button {
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
a{
    text-decoration: none;
    color: white;}
.section2{
    display: flex;
    flex-direction: column;
}
.section2-title {
    display: flex;
    justify-content: center;
    flex-direction: row; 
}
.images-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.images-section div div {
    display: flex;
    justify-content: center;
}
.section3{
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #E5E7EB;
}
.section3 .text {
    font-style: italic;
}
.section3 .quoter {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
}
.section4{
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0%;
}
.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 5px;
}
img {
    width: 200px;
    height: auto;
  }
.season-images{
    width: 120px;
    height: 100px;
    border-radius: 10px;
    border: solid #3882F6 3px;
}